* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ca0de7;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #ee0fdf;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  .header-image {
    width: 100%;
  }